<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{basehtml::Layout(~{::section})}">>

<head>

    <meta charset="utf-8">
    <title>Telangana Highcourt </title>

</head>

<body>

<section class="py-5 p-3 regs">
    <div class="container-fluid">

        <form>
            <div class="row">
                <div class="col-lg-4 mb-3">
                    <label for="inputState">Are you a Citizen of India? *</label>
                    <select id="inputState" class="form-control">
                        <option selected>Select Yes or No</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="col-lg-4 mb-3">
                    <label>Name*</label>
                    <input type="text" class="form-control" placeholder="Enter Name">
                </div>
                <div class="col-lg-4 mb-3">
                    <label>Father's Name*</label>
                    <input type="text" class="form-control" placeholder="Enter Father's Name">
                </div>
                <div class="col-lg-4 mb-3">
                    <label for="inputState">Gender</label>
                    <select id="inputState" class="form-control">
                        <option selected>Select Yes or No</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="col-lg-4 mb-3">
                    <label>Address</label>
                    <input type="text" class="form-control" placeholder="Address">
                </div>
                <div class="col-lg-2 mb-3">
                    <label for="inputState">State</label>
                    <select id="inputState" class="form-control">
                        <option selected>Select Yes or No</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="col-lg-2 mb-3">
                    <label for="inputState">District*</label>
                    <select id="inputState" class="form-control">
                        <option selected>Select Yes or No</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="col-lg-4 mb-3">
                    <label>Pincode*</label>
                    <input type="text" class="form-control" placeholder="Pincode">
                </div>
                <div class="col-lg-4 mb-3">
                    <label for="inputState">Is the Applicant Below Poverty Line ?:*</label>
                    <select id="inputState" class="form-control">
                        <option selected>Select Yes or No</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="col-lg-4 mb-3">
                    <label>BPL Card No*</label>
                    <input type="text" class="form-control" placeholder="BPL Card No">
                </div>
                <div class="col-lg-4 mb-3">
                    <label>Scanned copy of BPL Card</label>
                    <input type="text" class="form-control" placeholder="Scanned copy of BPL Card">
                </div>
                <div class="col-lg-4 mb-3">
                    <label for="inputState">Mobile No</label>
                    <select id="inputState" class="form-control">
                        <option selected>Select Yes or No</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="col-lg-4 mb-3">
                    <label>Enter the Validation code</label>
                    <input type="text" class="form-control" placeholder="Enter the Validation code">
                </div>
                <div class="col-lg-4 mb-3">
                    <label></label>
                    <button type="button" class="btn btn-outline-secondary w-100 mt-2">Generate OTP</button>
                </div>
                <div class="col-lg-4 mb-3">
                    <label>Please Enter OTP sent on your mobile no for requestId </label>
                    <input type="text" class="form-control" placeholder="Please Enter OTP ">
                </div>
                <div class="col-lg-4 mb-3">
                    <label>Enter the Validation code</label>
                    <input type="text" class="form-control" placeholder="Enter the Validation code">
                </div>
                <div class="col-lg-12 text-center reg mt-4">
                    <a href="" type="btn" class=" btn btn-info  mb-1">Register</a>
                </div>
            </div>
    </div>
    </form>

    </div>
</section>
</body>

</html>