<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{basehtml::Layout(~{::section})}">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="pb-3 pt-4 Tenders">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 ">
                <div th:replace="~{includes/sidebar :: side-bar}"></div>
            </div>
            <div class="col-lg-9 col-md-10 col-sm-10 ">
                <div class="es-news-latter mb-3">
                    <div class="row">
                        <div class="col-lg-8 col-md-6 col-sm-12 ">
                            <a th:href="@{/tshc/viewdetails}">
                                <h5 class="text-white">Important events of telangana state judicial academy
                                    30.06.2023]

                                </h5>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 text-md-right">
                            <a th:href="@{/tshc/viewdetails}">
                                <h6 class="text-white">View</h6>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="e-news-latter mb-3">
                    <div class="row">
                        <div class="col-lg-8 col-md-6 col-sm-12 ">
                            <a href="view-details.php" class="">
                                <h5 class="">Important events of telangana state judicial academy

                                </h5>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 text-md-right">
                            <a href="view-details.php">
                                <h6 class="tex">View</h6>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="e-news-latter  mb-3">
                    <div class="row">
                        <div class="col-lg-8 col-md-6 col-sm-12 ">
                            <a href="view-details.php">
                                <h5>Important events of telangana state judicial academy

                                </h5>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 text-md-right">
                            <a href="view-details.php">
                                <h6>View</h6>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="e-news-latter mb-3">
                    <div class="row">
                        <div class="col-lg-8 col-md-6 col-sm-12 ">
                            <a href="view-details.php">
                                <h5>Important events of telangana state judicial academy
                                    [From 01.07.2022 TO 30.09.2022]
                                </h5>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 text-md-right">
                            <a href="view-details.php">
                                <h6>View</h6>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="e-news-latter  mb-3">
                    <div class="row">
                        <div class="col-lg-8 col-md-6 col-sm-12 ">
                            <a href="view-details.php">
                                <h5>Important events of telangana state judicial academy

                                </h5>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 text-md-right">
                            <a href="view-details.php">
                                <h6>View</h6>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="e-news-latter mb-3">
                    <div class="row">
                        <div class="col-lg-8 col-md-6 col-sm-12 ">
                            <a href="view-details.php">
                                <h5>Important events of telangana state judicial academy
                                    [From 01.07.2022 TO 30.09.2022]
                                </h5>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 text-md-right">
                            <a href="">
                                <h6>View</h6>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="e-news-latter  mb-3">
                    <div class="row">
                        <div class="col-lg-8 col-md-6 col-sm-12 ">
                            <a href="">
                                <h5>Important events of telangana state judicial academy

                                </h5>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 text-md-right">
                            <a href="">
                                <h6>View</h6>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="e-news-latter mb-3">
                    <div class="row">
                        <div class="col-lg-8 col-md-6 col-sm-12 ">
                            <a href="">
                                <h5>Important events of telangana state judicial academy
                                    [From 01.07.2022 TO 30.09.2022]
                                </h5>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 text-md-right">
                            <a href="">
                                <h6>View</h6>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="e-news-latter  mb-3">
                    <div class="row">
                        <div class="col-lg-8 col-md-6 col-sm-12 ">
                            <a href="">
                                <h5>Important events of telangana state judicial academy

                                </h5>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 text-md-right">
                            <a href="">
                                <h6>View</h6>
                            </a>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
    </div>
</section>
</body>
</html>