<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Bootstrap jQuery -->
<script th:src="@{/assets/plugins/jQuery/jquery.min.js}"></script>
<script th:src="@{/assets/plugins/bootstrap/bootstrap.min.js}" defer></script>
<script th:src="@{/assets/plugins/slick/slick.min.js}"></script>
<script th:src="@{/assets/plugins/slick/slick-animation.min.js}"></script>
<script th:src="@{/assets/plugins/colorbox/jquery.colorbox.js}"></script>
<script th:src="@{/assets/plugins/google-map/map.js}" defer></script>
<script th:src="@{/assets/js/script.js}"></script>

<script th:inline="javascript">
    $('#grayButton').click(switchGray);
    $('#whiteButton').click(switchWhite);
    $('#blueButton').click(switchBlue);
    $('#yellowButton').click(switchYellow);
    $('#orangeButton').click(switchOrange);

    function switchGray() {
      $('body').attr('class', 'gray');
    }

    function switchWhite() {
      $('body').attr('class', 'white');
    }

    function switchBlue() {
      $('body').attr('class', 'blue');
    }

    function switchYellow() {
      $('body').attr('class', 'yellow');
    }

    function switchOrange() {
      $('body').attr('class', 'orange');
    }
</script>
<script>
    var cont = document.getElementById("body");

    function changeSizeByBtn(size) {
      // Set value of the parameter as fontSize
      cont.style.fontSize = size + "px"; // <- HERE
    }

    function changeSizeBySlider() {
      var slider = document.getElementById("slider");

      // Set slider value as fontSize
      cont.style.fontSize = slider.value + "px"; // <- HERE
    }
</script>
<script>
    var $affectedElements = $("p, h1, h2, h3, h4, h5, h6, li, a"); // Can be extended, ex. $("div, p, span.someClass")

    // Storing the original size in a data attribute so size can be reset
    $affectedElements.each(function () {
      var $this = $(this);
      $this.data("orig-size", $this.css("font-size"));
    });

    $("#btn-increase").click(function () {
      changeFontSize(1);
    })

    $("#btn-decrease").click(function () {
      changeFontSize(-1);
    })

    $("#btn-orig").click(function () {
      $affectedElements.each(function () {
        var $this = $(this);
        $this.css("font-size", $this.data("orig-size"));
      });
    })

    function changeFontSize(direction) {
      $affectedElements.each(function () {
        var $this = $(this);
        $this.css("font-size", parseInt($this.css("font-size")) + direction);
      });
    }
</script>
</script>    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
                     integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://lab.iamrohit.in/demo/jquery-bootstrap-news-ticker/jquery.bootstrap.newsbox.min.js"
        type="text/javascript"></script>
</body>
</html>