<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="side-bar">
    <a href="e-services.php">
        <h3 class="ribbon active">e-Services <span><i class="	fa fa-caret-right"></i></span></h3>
    </a>
    <a href="">
        <h3 class="ribbon">Recruitment <span><i class="	fa fa-caret-right"></i></span></h3>
    </a>
    <a href="">
        <h3 class="ribbon">Transfers Postings <span><i class="	fa fa-caret-right"></i></span></h3>
    </a>
    <a href="">
        <h3 class="ribbon">Calendar <span><i class="	fa fa-caret-right"></i></span></h3>
    </a>
    <a href="">
        <h3 class="ribbon">Tenders<span><i class="	fa fa-caret-right"></i></span></h3>
    </a>
    <a href="">
        <h3 class="ribbon">Rules<span><i class="	fa fa-caret-right"></i></span></h3>
    </a>
    <a href="">
        <h3 class="ribbon">Downloads<span><i class="	fa fa-caret-right"></i></span></h3>
    </a>
    <a href="">
        <h3 class="ribbon">Legal Services & Comittee<span><i class="	fa fa-caret-right"></i></span></h3>
        <a href="">
            <h3 class="ribbon">District Judicary<span><i class="	fa fa-caret-right"></i></span></h3>
        </a>
        <a href="">
            <h3 class="ribbon">External Links<span><i class="	fa fa-caret-right"></i></span></h3>
        </a>
        <a th:href="@{/tshc/district}">
            <h3 class="ribbon">District Information<span><i class="	fa fa-caret-right"></i></span></h3>
        </a>
    </a>
</div>
</body>
</html>