<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <!-- TOP BAR SECTION START -->
    <div id="top-bar" class="top-bar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-8">
                    <ul class="top-info text-center text-md-left">
                        <li><i class="	far fa-calendar-alt"></i>
                            <p class="info-text text-white">Monday, February 19,2024</p>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-8 top-social  text-md-right">
                    <div id="chcp_font_size" class="input-groups">
                        <span class="text-white me-3 border-right"> Skip to Main Content &nbsp; </span> &nbsp;
                        <span class="input-groups-btn">
                        <button id="btn-increase" class="btn btn-default" type="button">A+</button>
                        <button id="btn-orig" class="btn btn-default" type="button"> A </button>
                        <button id="btn-decrease" class="btn btn-default" type="button">A-</button>

                        <span class="text-white border-right mx-1"> </span> &nbsp; &nbsp;
                        <ul id="switcher">
                        <li id="grayButton">A</li>
                            <li id="whiteButton">A</li>
                            <li id="blueButton">A</li>
                            <li id="yellowButton">A</li>
                            <li id="orangeButton">A</li>
                        </ul>
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- TOP BAR SECTION END -->
</header>
</body>
</html>